.accordionItem {
  padding: 27px 6px 27px 24px;
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 24px;
  overflow: hidden;
  clip-path: polygon(8% 0, 100% 0, 100% 80%, 94% 100%, 0 100%, 0 14%);
  max-height: 76px;
  transition: all .2s linear;

  &__open {
    &>.text {
      user-select: auto;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin-right: 23px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.text {
  margin-top: 16px;
  max-width: 590px;
  width: 100%;
  user-select: none;
}