@use "../../../styles/vars";

.sliderArrows {
  display: flex;
  &__arrow {
    padding: 10px 16px;
    margin-right: 24px;
    cursor: pointer;

    @include vars.gradientBorder(
      rgba(255, 255, 255, 0.05),
      rgba(#15BFFD, .7),
      rgba(#9C37FD,.7),
      bottom right
    );

    &>img {
      margin-top: 3px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}