@use "../../../public/assets/styles/vars";

.sliderArrows {
  display: flex;
  &__arrow {
    padding: 10px 16px;
    margin-right: 24px;
    cursor: pointer;

    @include vars.gradientBorder(vars.$mainBg,bottom right);


    &>img {
      margin-top: 3px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}