@use "../../public/assets/styles/vars";

.link {
  position: relative;
  &:hover {
    &>.line {
      height: 3px;
      background-color: vars.$white;
      bottom: -6px;
    }
  }

  &>span {
    cursor: pointer;
  }
}

.line {
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color .2s linear;
}