.star {

  background: #15BFFD;
  position: absolute;
  z-index: -1;
  transform: rotate(67deg);
  clip-path: polygon(50% 0%, 61% 34%, 98% 35%, 66% 57%, 79% 91%, 49% 67%, 21% 91%, 35% 55%, 2% 35%, 38% 35%);
  font-size: 0;

}

.light {
  position: absolute;
  z-index: -1;
  transform: rotate(67deg);
  clip-path: polygon(50% 0%, 61% 34%, 98% 35%, 66% 57%, 79% 91%, 49% 67%, 21% 91%, 35% 55%, 2% 35%, 38% 35%);
  font-size: 0;
  background: none;
}