.sliderImages {
  display: flex;

  &__bgWrapper {
    background-image: linear-gradient(to bottom right, rgba(#15BFFD, .7), rgba(#9C37FD,.7));
    padding: 2px;
    max-height: 424px;
    border-radius: 16px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }

    &__active {
      &>img {
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
      }
    }

    &__img {
      width: 184px;
      object-fit: cover;
      border-radius: 16px;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
      transition: width .3s linear;
    }
  }
}