.hero {
  margin-top: 165px;

  &__top {
    display: flex;
    align-items: center;
    &__title {
       margin-right: 57px;
       flex: 65%;
    }
    &__text {
      flex: 30%;
    }
  }

  &__center {
    display: flex;
    align-items: center;

    &__btn {
      margin-right: 24px;
    }
  }

  &__bottom {
    &__title {
      text-align: right;
    }
  }
}