@use "../../styles/vars";

.inputBlock {
  color: vars.$white;
  margin-bottom: 16px;

  transition: all .2s linear;
  @include vars.gradientBorder(vars.$mainbg,bottom, 8px);


  &__text {
    margin-top: 4px;
  }

  &:active {
    color: vars.$white;
  }

  &.disabled{
    pointer-events: none;
    border: 1px solid #636363;
    background-color: rgba(vars.$white, .05);
    &:before {
      background: transparent;
    }
    &>input {
      &::placeholder {
        color: #636363
      }
    }
  }

  &.error {
    background: transparent;
    color: vars.$white;
    &:before {
      background: transparent;
    }
    &>input {
      background-color: rgba(#FFA5A5, .2);
      color: vars.$white;
      border: 1px solid #FD4646;
      border-radius: 8px;
      &::placeholder {
        color: vars.$white
      }
    }

  }

  &>input {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    font-style: inherit;
    font-size: inherit;
    line-height: 140%;
    font-family: "Inter", sans-serif;
    color: inherit;
    padding: 24px;

    &::placeholder {
      color: #A2CBFB;
    }

  }
}