@use "../../public/assets/styles/vars";

.contact {
  margin-top: 181px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 10px;


  @include vars.gradientBorder(vars.$mainBg,bottom);

}