
$white: #FFFFFF;
$gradient: rgba(#15BFFD, .7), rgba(#9C37FD,.7);
$mainbg: rgba(255, 255, 255, 0.05);


@mixin gradientBorder($bgc, $direction, $borderRadius: 16px, $onlyPT: false, $borderWidth:2px) {
  position: relative;
  z-index: 0;
  background-color: $bgc;
  border-radius: $borderRadius;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    @if $onlyPT {
      padding-top: $borderWidth;
    } @else {
      padding: $borderWidth;
    }
    border-radius: $borderRadius;
    background: linear-gradient(to $direction, $gradient);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}