@use "../../../public/assets/styles/vars";

.mentorCard {
  margin-right: 21px;
  position: relative;
  bottom: 4px;
  &__center {
    bottom: 56px;
  }

  &:last-child {
    margin-right: 0;
  }

  >img {
    border-radius: 50%;
    background-image: linear-gradient(152.14deg, vars.$gradient);
    padding: 2px;
    margin-bottom: 16px;
  }
}